.mainContainer {
    height: 20vw;
}
.navbar-brand {
  margin-left: 20px;
}
.display-3 {
  font-size: 35px !important;
  font-weight: bold;
  margin-top: 10px;
}
.btn-action {
  margin: 5px;
}
.tophead{
    margin-top: 3vw;
}

.rwd-table {
    border-radius: .4em;
    overflow: hidden;
}

.mainBody{
    margin: auto;
    max-width: 90%;
    background-color:antiquewhite;
    margin-top: 3vw;
    border-radius: 10px;
    height: 43vw;
    padding: 10px;
    overflow: hidden;
}

table tr {
    border-top: 1px solid #2d2a2a;
    /* border-bottom: 1px solid #2d2a2a; */
    padding: auto;
  }

  table tr th {
    text-align: center;
    align-self: center;
    padding: 10px;
  }
  table tr td {
    text-align: center;
    align-self: center;
    padding: 10px;
  }

  .rwd-table{
    width: 100%;
  }